.no-qrcode {
    width: 428px;
}
.main-body {
    width: 815px;
    height: 576px;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.new-login .bottom .center .item {
    width: 288px;
    height: 35px;
    border-bottom: 1px solid #dae1e6;
    margin-bottom: 35px;
}

.new-login {
    width: 428px;
    position: relative;
    float: left;
}
.new-login .top {
    width: 428px;
    height: 117px;
    background-color: #0371d1;
    border-radius: 12px 12px 0 0;
    font-family: SourceHanSansCN-Regular;
    font-size: 30px;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fff;
    line-height: 117px;
    text-align: center;
    overflow: hidden;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.new-login .top .bg1 {
    display: inline-block;
    width: 74px;
    height: 74px;
    background: #fff;
    opacity: .1;
    border-radius: 0 74px 0 0;
    position: absolute;
    left: 0;
    top: 43px;
}
.new-login .top {
    width: 428px;
    height: 117px;
    background-color: #0371d1;
    border-radius: 12px 12px 0 0;
    font-family: SourceHanSansCN-Regular;
    font-size: 30px;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: 0;
    color: #fff;
    line-height: 117px;
    text-align: center;
    overflow: hidden;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.new-login .top .bg2 {
    display: inline-block;
    width: 94px;
    height: 94px;
    background: #fff;
    opacity: .1;
    border-radius: 50%;
    position: absolute;
    right: -16px;
    top: -16px;
}

.new-login .bottom {
    width: 428px;
    background: #fff;
    border-radius: 0 0 12px 12px;
    padding-bottom: 53px;
}

.new-login .bottom .center {
    width: 288px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 15px;
    position: relative;
}

.new-login .bottom .tip {
    clear: both;
    height: 16px;
    line-height: 16px;
    width: 288px;
    margin: 0 auto;
}

.new-login .bottom .deal {
    width: 288px;
    height: 40px;
    background-color: #0371d1;
    border-radius: 16px;
    margin: 24px auto 0;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0;
    cursor: pointer;
}


body {
    background: url(https://oem.faisys.com/image/demo2.png) 0% 0% / cover no-repeat;
    position: static;
    font-size: 12px;
}

input::-webkit-input-placeholder {
    color: #a6aebf;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a6aebf;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a6aebf;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a6aebf;
}

input:-webkit-autofill { /* 取消Chrome记住密码的背景颜色 */
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

html {
    height: 100%;
}