body {margin:15px 15px 15px 15px;background:#f2f2f2;}
.layuimini-container {border:1px solid #f2f2f2;border-radius:5px;background-color:#ffffff}
.layuimini-main {margin:10px 10px 10px 10px;}

/**重写layui表格自适应*/
.layuimini-container .layui-table-cell {height: 100%;max-width: 100%;}

/**数据表格-搜索表单样式*/
.layuimini-container .table-search-fieldset {margin: 0;border: 1px solid #e6e6e6;padding: 10px 20px 5px 20px;color: #6b6b6b;}
.layuimini-container .table-search-fieldset input::-webkit-input-placeholder {color: #a9a9a9;}
.layuimini-container .table-search-fieldset input:-ms-input-placeholder {color: #a9a9a9;}
.layuimini-container .table-search-fieldset input::-ms-input-placeholder {color: #a9a9a9;}

/**图标选择器*/
.layui-iconpicker-body.layui-iconpicker-body-page .hide {display: none;}

/**必填红点 */
.layuimini-form>.layui-form-item .required:after {content:'*';color:red;position:absolute;margin-left:4px;font-weight:bold;line-height:1.8em;top:6px;right:5px;}
/*.layuimini-form>.layui-form-item>.layui-form-label {width:120px !important;}*/
/*.layuimini-form>.layui-form-item>.layui-input-block {margin-left:150px !important;}*/
.layuimini-form>.layui-form-item>.layui-input-block tip,.layuimini-form>.layui-form-item>.layui-inline tip {display:inline-block;margin-top:10px;line-height:15px;font-size:10px;color:#a29c9c;}

/** 按钮背景色 */
.layuimini-container .layuimini-btn-primary{color: #fff;background-color: #2c3e50;}
.layuimini-container .layui-btn-sm i {font-size: 12px!important;}

/**文件上传样式*/
.layuimini-upload {position:relative;}
.layuimini-upload .layuimini-upload-btn {display:inline-block;position:absolute;right:0px;}
.layuimini-upload-show {margin-top:10px;margin-bottom:0;}
.layuimini-upload-show  li {position:relative;display:inline-block;padding:5px 0 5px 0;padding-left:10px;padding-right:10px;border:1px solid #e2e2e2;}
.layuimini-upload-show a img {height:80px;object-fit:cover;}
.layuimini-upload-show .uploads-delete-tip {position:absolute;right:10px;font-size:12px;}
.bg-red {background-color:#e74c3c !important;}
.color-red {color:#e74c3c !important;}
.badge {display:inline-block;min-width:10px;padding:3px 7px;font-size:11px;font-weight:bold;color:#fff;line-height:1;vertical-align:middle;white-space:nowrap;text-align:center;background-color:#777777;border-radius:10px;}

/**vue隐藏样式*/
[v-cloak] { display: none; }

/**表格url样式*/
.layuimini-table-url{background-color: #1497f3;color: #ffffff; border-radius: 3px;size: 8px!important;padding: 2px}
.layuimini-table-url:hover{background-color: #1497f3;color: #ffffff; border-radius: 3px;size: 8px!important;padding: 2px}

/**后台权限隐藏*/
/*[auth] { display: none; }*/

.layui-form-label{
    width: 100px;
}
.layui-input-block {
    margin-left: 130px;
    min-height: 36px
}