{extend name="public:basic" /}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/admin/css/login.css?v={:time()}" media="all">
{/block}
{block name="cotent"}
<div class="layui-container">
    <div class="admin-login-background">
        <div class="layui-form login-form">
            <form class="layui-form" action="">
                <div class="layui-form-item logo-title">
                    <h1>{:sysconfig('site','site_name')}</h1>
                </div>

                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-username"></label>
                    <input type="text" name="username" lay-verify="required" lay-reqtext="请输入登录账号" placeholder="请输入登录账号" autocomplete="off" class="layui-input">
                </div>

                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-password"></label>
                    <input type="password" name="password" lay-verify="required" lay-reqtext="请输入登录密码" placeholder="请输入登录密码" autocomplete="off" class="layui-input">
                </div>

                {if $captcha == 1}
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-vercode"></label>
                    <input type="text" name="captcha" lay-verify="required" lay-reqtext="请输入验证码" placeholder="请输入验证码" autocomplete="off" class="layui-input verification captcha">
                    <div class="captcha-img">
                        <img id="refreshCaptcha" src="{:url('login/captcha')}" alt="captcha" onclick="this.src='{:url(\'login/captcha\')}?seed='+Math.random()">
                    </div>
                </div>
                {/if}

                <div class="layui-form-item" style="margin-top: 35px">
                    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="login">登 入</button>
                </div>
            </form>

        </div>
    </div>
    <div class="footer notselect">
        {:sysconfig('site','site_copyright')}<span class="padding-5">|</span><a target="_blank" href="http://www.miitbeian.gov.cn">{:sysconfig('site','site_beian')}</a>
    </div>
</div>
<script src="__STATIC__/plugs/jquery-3.4.1/jquery-3.4.1.min.js?v={:time()}" charset="utf-8"></script>
{/block}