APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = host.docker.internalDATABASE = easyadminUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8DEBUG = truePREFIX = ea_[LANG]default_lang = zh-cn[EASYADMIN]ADMIN = admintestCAPTCHA = false