/.idea
/.vscode
*.log
.env
config/install/lock/install.lock
/public/upload
/public/docs
runtime/admin
runtime/log
runtime/session
runtime/temp
runtime/cache
public/conf
public/WowOss.exe
app/index/controller/Test.php
composer.phar
app/test/
vendor