{extend name="blog@public/basic" /}

{block name="style"}
<!--<link rel="stylesheet" type="text/css" href="__STATIC__/plugs/bootstrap-3.3.7/css/bootstrap.min.css" />-->
{/block}

{block name="cotent"}
{include file="blog@public/nav"/}
<section class="container">
    <!--left-->
    <div class="col-sm-9 col-md-9 mt-20">
        <!--article list-->
        <ul class="index_arc">

            {foreach article_list as $vo}
            <li class="index_arc_item">
                <a data-href="{:url('@blog/article/details',['id'=>$vo.id])}" class="pic">
                    <img class="lazyload" data-original="{$vo.cover_img|default=''}" alt="{$vo.title|default=''}">
                </a>
                <h4 class="title">
                    <a data-href="{:url('@blog/article/details',['id'=>$vo.id])}">{$vo.title|default=''}</a>
                </h4>
                <div class="date_hits">
                    <span>{$vo.memberInfo.nickname|default=''}</span>
                    <span>{$vo.create_at|default=''}</span>
                    <span><a data-href="{:url('@blog/article/index',['category_id'=>$vo.category_id])}">{$vo.categoryInfo.title|default=''}</a></span>
                    <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> {$vo.clicks|default=''} °</p>
                    <p class="commonts"><i class="Hui-iconfont" title="评论"></i> <span class="cy_cmt_count">{$vo.comment_total|default=''}</span></p>
                    <p class="praise"><i class="layui-icon layui-icon-praise" title="点赞"></i> {$vo.praise|default='0'} </p>
                </div>
                <div class="desc">{$vo.describe|default=''}</div>
            </li>
            {/foreach}

        </ul>
        <div class="text-c mb-20" id="moreBlog">
            {$article_list|raw}
            <!--<a class="btn  radius btn-block " data-href="javascript:;" onclick="moreBlog('${blogType.id}','${tag.name}');">点击加载更多</a>-->
            <!--<a class="btn  radius btn-block hidden" data-href="javascript:;">加载中……</a>-->
        </div>
    </div>

    <!--right-->
    <div class="col-sm-3 col-md-3 mt-20">

        <!--导航-->
        <div class="panel panel-primary mb-20">
            <div class="tab-category">
                <a data-href=""><strong>栏目类型</strong></a>
            </div>
            <div class="panel-body">
                {foreach category_list as $vo}
                <a data-href="{:url('@blog/article/index',['category_id'=>$vo.id])}">
                    <input class="btn {if $vo.id==$current_cotegory.id}btn-primary{else/}btn-primary-outline{/if} radius nav-btn" type="button" value="{$vo.title|default=''}">
                </a>
                {/foreach}
            </div>
        </div>

        <!--热门推荐-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a data-href=""><strong>热门推荐</strong></a>
            </div>
            <div class="tab-category-item">
                <ul class="index_recd">
                    {foreach recommend_list as $vo}
                    <li>
                        <a data-href="{:url('@blog/article/details',['id'=>$vo.id])}" target="_blank">{$vo.title|default=''}</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> {$vo.clicks|default=''}° </p>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>

        <!--标签-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a data-href=""><strong>标签云</strong></a>
            </div>
            <div class="tab-category-item">
                <div class="tags"><a data-href="http://www.h-ui.net/">H-ui前端框架</a> <a data-href="http://www.h-ui.net/websafecolors.shtml">Web安全色</a> <a data-href="http://www.h-ui.net/Hui-4.4-Unslider.shtml">jQuery轮播插件</a> <a data-href="http://idc.likejianzhan.com/vhost/korea_hosting.php">韩国云虚拟主机</a> <a data-href="http://www.h-ui.net/bug.shtml">IEbug</a> <a data-href="http://www.h-ui.net/site.shtml">IT网址导航</a> <a data-href="http://www.h-ui.net/icon/index.shtml">网站常用小图标</a> <a data-href="http://www.h-ui.net/tools/jsformat.shtml">web工具箱</a> <a data-href="http://www.h-ui.net/bg/index.shtml">网站常用背景素材</a> <a data-href="http://www.h-ui.net/yuedu/chm.shtml">H-ui阅读</a> <a data-href="http://www.h-ui.net/easydialog-v2.0/index.html">弹出层插件</a> <a data-href="http://www.h-ui.net/SuperSlide2.1/demo.html">SuperSlide插件</a> <a data-href="http://www.h-ui.net/TouchSlide1.1/demo.html">TouchSlide</a></div>
            </div>
        </div>
    </div>

</section>
{/block}

{block name="script"}
<script>
    $(function () {
//标签
        $(".tags a").each(function () {
            var x = 9;
            var y = 0;
            var rand = parseInt(Math.random() * (x - y + 1) + y);
            $(this).addClass("tags" + rand)
        });

        $("img.lazyload").lazyload({failurelimit: 3});
    });

</script>
{/block}