<!-- 顶部 -->
<div class="layui-header header">
    <div class="layui-main mag0">
        <a href="" class="logo">{$SysInfo.ManageName|default=''}</a>
        <!-- 显示/隐藏菜单 -->
        <a href="javascript:;" class="seraph hideMenu icon-caidan"></a>

        <!-- 顶级菜单.手机 -->
        <ul class="layui-nav mobileTopLevelMenus" mobile>
            <li class="layui-nav-item" data-menu="contentManagement">
                <a href="javascript:;"><i class="seraph icon-caidan"></i><cite>菜单栏选择</cite></a>
                <dl class="layui-nav-child">
                    {volist name="nav" id="vo"}
                    <dd {if $i==1}class="layui-this"{/if}" data-menu="99php_{$vo.id}"><a href="javascript:;"><i class="{if $vo.icon_type==false}layui-icon{else/}fa {$vo.icon|raw}{/if}" data-icon="{$vo.icon|raw}">{if $vo.icon_type==false}{$vo.icon|raw}{/if}</i><cite>{$vo.title}</cite></a></dd>
                    {/volist}
                </dl>
            </li>
        </ul>

        <!-- 顶级菜单.电脑 -->
        <ul class="layui-nav topLevelMenus" pc>
            {volist name="nav" id="vo"}
            <li class="layui-nav-item {if $i==1}layui-this{/if}" data-menu="99php_{$vo.id}" pc>
                <a href="javascript:;"><i class="{if $vo.icon_type==false}layui-icon{else/}fa {$vo.icon|raw}{/if}" data-icon="{$vo.icon|raw}">{if $vo.icon_type==false}{$vo.icon|raw}{/if}</i><cite>{$vo.title}</cite></a>
            </li>
            {/volist}
        </ul>

        <!-- 顶部右侧菜单 -->
        <ul class="layui-nav top_menu">
            <li class="layui-nav-item" pc>
                <a href="javascript:;" class="clearCache"><i class="layui-icon" data-icon="&#xe639;">&#xe639;</i></a>
            </li>
            <li class="layui-nav-item" pc>
                <!--<a href="javascript:;" class="refresh refreshThis"><i class="fa fa-refresh fa-spin"></i></span></a>-->
                <a href="javascript:;" class="refresh refreshThis"><i class="fa fa-refresh"></i></span></a>
            </li>
            <li class="layui-nav-item" id="userInfo">
                <a href="javascript:;">
                    <img src="{$Think.session.user.head_img}" class="layui-nav-img userAvatar" width="35" height="35">
                    <cite class="adminName">{$Think.session.user.username}</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-url='{:url("@admin/user/edit_self")}'><i class="seraph icon-ziliao" data-icon="icon-ziliao"></i><cite>个人资料</cite></a></dd>
                    <dd><a href="javascript:;" data-url='{:url("@admin/user/edit_password")}?id={$Think.session.user.id}'><i class="seraph icon-xiugai" data-icon="icon-xiugai"></i><cite>修改密码</cite></a></dd>
                    <dd pc><a href="javascript:;" class="functionSetting"><i class="layui-icon">&#xe620;</i><cite>功能设定</cite><span class="layui-badge-dot"></span></a></dd>
                    <dd pc><a href="javascript:;" class="changeSkin"><i class="layui-icon">&#xe61b;</i><cite>更换皮肤</cite></a></dd>
                    <dd><a href="{:url('@admin/login/out')}" class="signOut"><i class="seraph icon-tuichu"></i><cite>退出</cite></a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>