<div class="layui-row php-user-top">
    <div class="layui-main">
        <div class="user-info">
            <h3 class="user-name">
                <span>{$Think.session.member.nickname|default='暂未设置昵称'}（账号：{$Think.session.member.username|default='未设置账户'}）</span>
            </h3>
            <p class="about-info layui-clear">
                <span class="gender" title="男"></span>
                <span class="u-info-learn">发表文章：<em>{$article_num|default='0'}</em>篇</span>
                <span class="u-info-credit">获得点击量：<em>{$click_num|default='0'}</em>个</span>
                <span class="u-info-mp">获得点赞量：<em>{$praise_num|default='0'}</em>个</span>
            </p>
            <p class="user-desc" title=""></p>
            <div class="study-info clearfix">
                <div class="item follows">
                    <a href="{:url('@blog/member/follow')}"><em>{$member_follow.follow_num|default=''}</em>
                        <span>关注</span></a>
                </div>
                <div class="item followers">
                    <a href="{:url('@blog/member/fans')}"><em>{$member_follow.fans_num|default=''}</em>
                        <span>粉丝</span></a>
                </div>
            </div>
            <a href="{:url('@blog/setting')}" class="set_user_button" target="_blank">个人设置</a>
        </div>
    </div>
</div>