{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{/block}

{block name="cotent"}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>
        <button class="layui-btn" id="clearNodeBtn">确定清除失效节点数据</button>
    </legend>
</fieldset>
{/block}

{block name="script"}
<script>

    /**
     * 清除失效节点
     */
    $("#clearNodeBtn").click(function () {
        $.request.post("{:url('@admin/system/clear_node')}", {}, function (res) {
            $.msg.success(res.msg);
        });
        return false;
    });
</script>
{/block}