<link rel="stylesheet" href="__STATIC__/addons/answer/home/css/index.css">
<div class="aw-container-wrap">
    <div class="container">
        <div class="container category">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list">
                        {foreach $cateList as $key=>$val}
                        <li {if $checkCate==$key}class="active"{/if}><a href="{:home_url('cate/'.$key)}">{$val}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">

                    <!-- tab切换 -->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li><a href="https://www.wecenter.com/sort_type-unresponsive">等待回复</a></li>
                        <li><a href="https://www.wecenter.com/is_recommend-1">推荐</a></li>
                        <li><a href="https://www.wecenter.com/sort_type-hot__day-7" id="sort_control_hot">热门</a></li>
                        <li class="active"><a href="https://www.wecenter.com/">最新</a></li>
                        <li><a href="https://www.wecenter.com/is_reward-1">悬赏</a></li>
                        <h2 class="hidden-xs"><i class="icon icon-list"></i> 发现</h2>
                    </ul>
                    <!-- end tab切换 -->

                    <!--分页功能-->
                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list">
                                <div class="aw-item " data-topic-id="5,3868,">
                                    <a class="aw-user-name hidden-xs" data-id="45510" href="https://www.wecenter.com/people/45510" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/55/10_avatar_max.jpg" alt=""/><i class="icon icon-v"></i></a>
                                    <div class="aw-question-content">
                                        <h4>
                                            <a href="https://www.wecenter.com/question/32911">3.5.0修复文件已发布，大家可在后台进行在线升级</a>

                                            <span style="font-style: normal; background: #FF7F00; color: #ffffff; font-size: 12px;  padding: 2px 8px; border-radius: 3px;">置顶</span></h4>
                                        <div class="pull-right hidden-xs contribute">
                                            <span class="pull-right text-color-999">贡献</span>
                                            <a class="aw-user-name" data-id="466" href="https://www.wecenter.com/people/466" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/00/04/66_avatar_mid.jpg" alt=""/></a>
                                            <a class="aw-user-name" data-id="49009" href="https://www.wecenter.com/people/49009" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/90/09_avatar_mid.jpg" alt=""/></a>
                                        </div>

                                        <p>
                                            <a class="aw-question-tags" href="https://www.wecenter.com/explore/category-2">WeCenter 程序</a>
                                            • <a href="https://www.wecenter.com/people/52418" class="aw-user-name" data-id="52418">暮春贰拾叁</a> <span class="text-color-999">回复了问题 • 10 人关注 • 7 个回复 • 1368 次浏览 • 1 天前				</span>
                                            <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                        </p>

                                    </div>
                                </div>
                                <div class="aw-item " data-topic-id="82,">
                                    <a class="aw-user-name hidden-xs" data-id="49009" href="https://www.wecenter.com/people/49009" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/90/09_avatar_max.jpg" alt=""/></a>
                                    <div class="aw-question-content">
                                        <h4>
                                            <a href="https://www.wecenter.com/question/32930">修订：基于最新3.50版本开发的一套主题模板（多图预警）</a>

                                        </h4>
                                        <div class="pull-right hidden-xs contribute">
                                            <span class="pull-right text-color-999">贡献</span>
                                            <a class="aw-user-name" data-id="1549" href="https://www.wecenter.com/people/1549" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/00/15/49_avatar_mid.jpg" alt=""/></a>
                                        </div>

                                        <p>
                                            <a class="aw-question-tags" href="https://www.wecenter.com/explore/category-4">创意与设计</a>
                                            • <a href="https://www.wecenter.com/people/1549" class="aw-user-name" data-id="1549">wobuzhidao</a> <span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 121 次浏览 • 4 天前				</span>
                                            <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="page-control">
                                <ul class="pagination pull-right">
                                    <li class="active"><a href="javascript:;">1</a></li>
                                    <li><a href="https://www.wecenter.com/sort_type-new__day-0__is_recommend-0__page-2">2</a></li>
                                    <li><a href="https://www.wecenter.com/sort_type-new__day-0__is_recommend-0__page-3">3</a></li>
                                    <li><a href="https://www.wecenter.com/sort_type-new__day-0__is_recommend-0__page-4">4</a></li>
                                    <li><a href="https://www.wecenter.com/sort_type-new__day-0__is_recommend-0__page-2">&gt;</a></li>
                                    <li><a href="https://www.wecenter.com/sort_type-new__day-0__is_recommend-0__page-2795">&gt;&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <a href="https://www.wecenter.com/topic/channel-hot" class="pull-right">更多 &gt;</a>
                            <h3>热门话题</h3>
                        </div>
                        <div class="mod-body">
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://www.wecenter.com/topic/82"><img alt="" src="https://www.wecenter.com/static/common/topic-mid-img.png"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="https://www.wecenter.com/topic/82" class="text" data-id="82">模板</a>
						</span>
                                    </p>
                                    <p><b>516</b> 个问题, <b>182</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://www.wecenter.com/topic/3872"><img alt="" src="https://www.wecenter.com/static/common/topic-mid-img.png"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="https://www.wecenter.com/topic/3872" class="text" data-id="3872">版权保护</a>
						</span>
                                    </p>
                                    <p><b>1</b> 个问题, <b>1</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://www.wecenter.com/topic/3873"><img alt="" src="https://www.wecenter.com/static/common/topic-mid-img.png"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="https://www.wecenter.com/topic/3873" class="text" data-id="3873">版权信息</a>
						</span>
                                    </p>
                                    <p><b>1</b> 个问题, <b>1</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://www.wecenter.com/topic/3874"><img alt="" src="https://www.wecenter.com/static/common/topic-mid-img.png"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="https://www.wecenter.com/topic/3874" class="text" data-id="3874">版权声明</a>
						</span>
                                    </p>
                                    <p><b>1</b> 个问题, <b>1</b> 人关注</p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <a href="https://www.wecenter.com/people/" class="pull-right">更多 &gt;</a>
                            <h3>热门用户</h3>
                        </div>
                        <div class="mod-body">

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://www.wecenter.com/people/42829"><img alt="" src="http://wenda.wecenter.com/uploads/avatar/000/04/28/29_avatar_mid.jpg"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="https://www.wecenter.com/people/42829" data-id="42829" class="aw-user-name">fanta<i class="icon-v" title="个人认证"></i> </a>
                                    <p class="signature"></p>
                                    <p><b>286</b> 个问题, <b>269</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://www.wecenter.com/people/23489"><img alt="" src="https://www.wecenter.com/static/common/avatar-mid-img.png"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="https://www.wecenter.com/people/23489" data-id="23489" class="aw-user-name">marco_hsu<i class="icon-v" title="个人认证"></i> </a>
                                    <p class="signature"></p>
                                    <p><b>48</b> 个问题, <b>14</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://www.wecenter.com/people/26725"><img alt="" src="http://wenda.wecenter.com/uploads/avatar/000/02/67/25_avatar_mid.jpg"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="https://www.wecenter.com/people/26725" data-id="26725" class="aw-user-name">三叔 </a>
                                    <p class="signature"></p>
                                    <p><b>70</b> 个问题, <b>90</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://www.wecenter.com/people/5892"><img alt="" src="http://wenda.wecenter.com/uploads/avatar/000/00/58/92_avatar_mid.jpg"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="https://www.wecenter.com/people/5892" data-id="5892" class="aw-user-name">kala </a>
                                    <p class="signature"></p>
                                    <p><b>137</b> 个问题, <b>45</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="https://www.wecenter.com/people/10505"><img alt="" src="http://wenda.wecenter.com/uploads/avatar/000/01/05/05_avatar_mid.jpg"/></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="https://www.wecenter.com/people/10505" data-id="10505" class="aw-user-name">a595975822 </a>
                                    <p class="signature"></p>
                                    <p><b>58</b> 个问题, <b>46</b> 次赞同</p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/static/common/ios_code.png" width="100%">
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="/static/common/min_weixin.jpg" width="100%">
                            <p style="color: #499ef3">官网小程序</p>
                        </div>
                    </div>
                </div>
                <!-- end 侧边栏 -->

            </div>
        </div>
    </div>
</div>
