{extend name="admin@public/basic" /}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<style>
    .uploadimage {
        display: inline-block;
        width: 80px;
        height: 80px;
        background-size: cover;
        cursor: pointer;
    }

    .upload-icon-tip {
        display: none;
        background-color: #76787b;
        color: white;
    }
</style>
{/block}
{block name="cotent"}


<form class="layui-form form-width-99admin">
    <br>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">用户头像</label>
        <!--<div class="layui-input-block" id="upload_head_image">-->
        <!--<input type="hidden" id="head_img" value="{$member.head_img|default=''}">-->
        <!--<img class="upload-image" data-upload-image="more" data-upload-id="head_img" data-upload-div="upload_head_image" src="{$member.head_img|default='__STATIC__/image/admin/upload.png'}">-->
        <!--</div>-->
        <div class="layui-input-block" id="upload_head_image">
            <input type="hidden" id="head_img" value="https://static.99php.cn/efae1adbcb8d7fbba87628314d78ae9e.png|https://static.99php.cn/85686ac0e8d8c78baea5aea6f11e6de7.jpg|https://static.99php.cn/6b0179bfeb322c9851ff41be5f32ff32.jpg">
            <div class="uploadimage" data-image-test="upload" data-upload-url="https://static.99php.cn/efae1adbcb8d7fbba87628314d78ae9e.png" style="background-image: url(https://static.99php.cn/efae1adbcb8d7fbba87628314d78ae9e.png);">
                <em class="layui-icon upload-icon-tip" style="float: right">&#x1006;</em>
            </div>
            <div class="uploadimage" data-image-test="upload" data-upload-url="https://static.99php.cn/85686ac0e8d8c78baea5aea6f11e6de7.jpg" style="background-image: url(https://static.99php.cn/85686ac0e8d8c78baea5aea6f11e6de7.jpg);">
                <em class="layui-icon upload-icon-tip" style="float: right">&#x1006;</em>
            </div>
            <div class="uploadimage" data-image-test="upload" data-upload-url="https://static.99php.cn/6b0179bfeb322c9851ff41be5f32ff32.jpg" style="background-image: url(https://static.99php.cn/6b0179bfeb322c9851ff41be5f32ff32.jpg);">
                <em class="layui-icon upload-icon-tip" style="float: right">&#x1006;</em>
            </div>
            <div class="uploadimage" data-upload-image="more" data-upload-id="head_img" data-upload-div="upload_head_image" style="background-image: url(__STATIC__/image/admin/upload.png);">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">用户昵称</label>
        <div class="layui-input-block">
            <input type="text" id="nickname" class="layui-input" lay-verify="required" value="{$member.nickname|default=''}" placeholder="请输入管理账号">
        </div>
    </div>

</form>
{/block}

{block name="script"}
<script>
    $.form.imageListen();
</script>
{/block}
