{extend name="admin@public/basic" /}

{block name="style"}
{/block}

{block name="cotent"}
<div id="layer-photos-demo" class="layer-photos-demo">
    <img  layer-src="/static/image/blog/face3.jpg" src="/static/image/blog/face3.jpg" alt="图片名">
    <img  layer-src="/static/image/blog/face3.jpg" src="/static/image/blog/face3.jpg" alt="图片名">
</div>
{/block}

{block name="script"}
<script>
    layui.use(['laydate', 'form', 'layer', 'table', 'laytpl'], function () {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laytpl = layui.laytpl,
            table = layui.table,
            laydate = layui.laydate;

        layer.photos({
            photos: '#layer-photos-demo'
            , anim: 5
        });

    })
</script>>
{/block}