<div class="layui-input-block" id="upload_head_image">
    <input type="hidden" id="head_img" value="https://static.99php.cn/efae1adbcb8d7fbba87628314d78ae9e.png|https://static.99php.cn/85686ac0e8d8c78baea5aea6f11e6de7.jpg|https://static.99php.cn/6b0179bfeb322c9851ff41be5f32ff32.jpg">
    <div class="uploadimage" data-upload-url="https://static.99php.cn/efae1adbcb8d7fbba87628314d78ae9e.png" style="background-image: url(https://static.99php.cn/efae1adbcb8d7fbba87628314d78ae9e.png);">
        <em class="layui-icon upload-icon-tip" style="float: right">ဆ</em>
    </div>
    <div class="uploadimage" data-upload-url="https://static.99php.cn/85686ac0e8d8c78baea5aea6f11e6de7.jpg" style="background-image: url(https://static.99php.cn/85686ac0e8d8c78baea5aea6f11e6de7.jpg);">
        <em class="layui-icon upload-icon-tip" style="float: right; display: none;">ဆ</em>
    </div>
    <div class="uploadimage" data-upload-url="https://static.99php.cn/6b0179bfeb322c9851ff41be5f32ff32.jpg" style="background-image: url(https://static.99php.cn/6b0179bfeb322c9851ff41be5f32ff32.jpg);">
        <em class="layui-icon upload-icon-tip" style="float: right; display: none;">ဆ</em>
    </div>
    <div class="uploadimage" data-upload-image="more" data-upload-id="head_img" data-upload-div="upload_head_image" style="background-image: url(/static/image/admin/upload.png);">
    </div>
</div>

<div class="layui-input-block" id="upload_head_image">
    <input type="hidden" id="head_img" value="https://static.99php.cn/efae1adbcb8d7fbba87628314d78ae9e.png|https://static.99php.cn/85686ac0e8d8c78baea5aea6f11e6de7.jpg|https://static.99php.cn/6b0179bfeb322c9851ff41be5f32ff32.jpg|https://static.99php.cn/3e5ab444ad6b8e12221d34a33a1c2777.jpg">
    <div class="uploadimage" data-upload-url="https://static.99php.cn/efae1adbcb8d7fbba87628314d78ae9e.png" style="background-image: url(https://static.99php.cn/efae1adbcb8d7fbba87628314d78ae9e.png);">
        <em class="layui-icon upload-icon-tip" style="float: right">ဆ</em>
    </div>
    <div class="uploadimage" data-upload-url="https://static.99php.cn/85686ac0e8d8c78baea5aea6f11e6de7.jpg" style="background-image: url(https://static.99php.cn/85686ac0e8d8c78baea5aea6f11e6de7.jpg);">
        <em class="layui-icon upload-icon-tip" style="float: right">ဆ</em>
    </div>
    <div class="uploadimage" data-upload-url="https://static.99php.cn/6b0179bfeb322c9851ff41be5f32ff32.jpg" style="background-image: url(https://static.99php.cn/6b0179bfeb322c9851ff41be5f32ff32.jpg);">
        <em class="layui-icon upload-icon-tip" style="float: right">ဆ</em>
    </div>
    <div class="uploadimage" data-upload-url="https://static.99php.cn/3e5ab444ad6b8e12221d34a33a1c2777.jpg" style="background-image: url(https://static.99php.cn/3e5ab444ad6b8e12221d34a33a1c2777.jpg);">
        <em class="layui-icon upload-icon-tip" style="float: right">ဆ</em>
    </div>
    <div class="uploadimage" data-upload-image="more" data-upload-id="head_img" data-upload-div="upload_head_image" style="background-image: url(/static/image/admin/upload.png);">
    </div>
</div>