{extend name="public:iframe" /}
{block name="cotent"}
<div class="layuimini-container">
    <div class="layuimini-main" id="app">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">短信配置</li>
                <li>模板管理</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    {include file="config/sms" /}
                </div>
                <div class="layui-tab-item">
                    {include file="config/template" /}
                </div>
            </div>
        </div>

    </div>
</div>
{/block}