/**
搜索界面样式
 */
.icon-search {
    width: 22px;
    height: 22px;
}

.info-list {
    margin-left: 200px;
}

.php-search-header .layui-input-block {
    padding-top: 36px;
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.php-search-header .left {
    float: left;
    width: 700px;
    height: 50px;
    padding-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
}

.php-search-header .icon {
    position: absolute;
    font-size: 24px;
    color: #b7bbbf;
    left: 16px;
    bottom: -4px;
}

.php-search-header .right {
    float: left;
    width: 100px;
    height: 50px;
    background: #2F4056;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
}

.php-search-header .hot-search {
    position: relative;
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #93999f;
}

.php-search-header .hot-search li {
    float: left;
    margin-right: 24px;
}

.php-search-header .hot-search li a {
    display: block;
    color: #93999f;
}

.layui-main {
    width: 1200px;
    padding: 15px 0;
}

.php-ask-banner .layui-main {
    padding: 50px 0 40px 180px;
}

.php-map .layui-main img {
    float: left;
    height: 150px;
    margin-left: 20px;
    margin-top: -35px;
    padding-right: 10px;
}

.php-map .layui-main .info h1 {
    color: #fff;
    margin-bottom: 15px;
}

.php-map .layui-main .info p {
    color: #fff;
    line-height: 30px;
}

.php-course-banner .layui-row {
    z-index: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.php-course-banner .layui-row .php-path {
    margin-top: 30px;
}

.php-course-banner .layui-row .php-center {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
}

.php-course-banner .layui-row .php-center .php-title {
    margin-top: 70px;
}

.php-course-banner .layui-row .php-center .php-title a {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.php-course-banner .layui-row .php-center .php-title h1 {
    font-size: 50px;
    letter-spacing: 5px;
}

.php-course-banner .layui-row .php-center .php-title h3 {
    margin-top: 20px;
}

.php-course-banner .layui-row .php-center .php-attribute {
    margin-top: 30px;
}

.php-course-banner .layui-row .php-attribute {
    margin-top: 10px;
}

.php-search-header {
    height: 144px;
    /*background-color: #d9dde1;*/
}

.php-search-header .layui-input-block {
    padding-top: 36px;
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.php-search-header .left {
    float: left;
    width: 700px;
    height: 50px;
    padding-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
}

.php-search-header .icon {
    position: absolute;
    font-size: 24px;
    color: #b7bbbf;
    left: 16px;
    bottom: -4px;
}

.php-search-header .right {
    float: left;
    width: 100px;
    height: 50px;
    background: #2F4056;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
}

.php-search-header .hot-search {
    position: relative;
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #93999f;
}

.php-search-header .hot-search li {
    float: left;
    margin-right: 24px;
}

.php-search-header .hot-search li a {
    display: block;
    color: #93999f;
}

.php-search {
    width: 900px;
    margin: 0 auto;
}

.php-search .nav-sel {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 16px;
    text-align: center;
}

.php-search .nav-sel li {
    float: left;
    width: auto;
    margin-right: 60px;
    line-height: 60px;
    text-align: center;
}

.php-search .nav-sel li a {
    display: block;
    font-size: 16px;
    color: #4d555d;
}

.php-search .nav-sel li a:hover {
    line-height: 60px;
    border-bottom: 2px solid red;
}

.php-search .nav-sel .on {
    color: #f01414;
    border-bottom: 2px solid red;
}

.php-search .search-related {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #93999f;
    background-color: #f3f5f7;
}

.php-search .ask-lists {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .05);
    box-sizing: border-box;
}

.php-search-header .int-logo .all_dic_top {
    color: #e4e0e0;
}

.php-search-header .int-logo .all_dic_top:hover {
    color: #b5b5b5;
}

.php-search-header.interpret {
    background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #000105 100%);
    background-image: radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #000105 100%);
}

.sc-fixed .sc-fixed-nav > a.active {
    color: #f01414;
    border-bottom: 2px solid #f01414;
}

.sc-fixed .sc-fixed-nav > a:first-child {
    margin-left: 0;
}

.sc-fixed .sc-fixed-nav .two-level {
    float: left;
}

.sc-fixed .sc-fixed-nav .two-level-nav {
    position: relative;
    float: left;
    margin-right: 24px;
    line-height: 60px;
    font-size: 12px;
    color: #93999f;
    transition: .3s all linear;
}

.sc-fixed .sc-fixed-nav .two-level-nav.active {
    padding-left: 16px;
    color: #4d555d;
}

.sc-fixed .sc-fixed-nav .two-level-nav i {
    opacity: 0;
    transition: .3s all linear;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 16px;
    color: #4d555d;
    line-height: 60px;
    margin-right: 2px;
}

.course-item {
    background: #fff;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .05);
    box-sizing: border-box;
}

.course-item .title {
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
}

.course-item .course-classify {
    margin-top: 4px;
    margin-bottom: 4px;
}

.course-item .course-classify span {
    line-height: 30px;
    color: #4D555D;
    font-size: 12px;
    margin-right: 24px;
    padding-left: 2px;
    vertical-align: middle;
}

.set-all .course-item {
    padding: 20px;
}

.set-all .course-item ul li {
    width: 265px;
    height: 248px;
    margin-right: 10px;
    float: left;
    margin: 0 23px 30px 0;
    position: relative;
}

.set-all .course-item ul li .txt {
    width: 245px;
    background: #F6F6F6;
    position: relative;
    z-index: 20;
    padding: 15px 10px;
}

.set-all .course-item ul li .txt h3 {
    font-size: 16px;
    padding-bottom: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.set-all .course-item ul li .txt .delp {
    font-size: 12px;
    height: 60px;
    overflow: hidden;
    line-height: 20px;
    color: #777;
    padding-bottom: 10px;
    display: none;
}

.set-all .course-item ul li .txt .bup {
    display: block;
}

.set-all .course-item ul li .txt .bup span {
    float: right;
    color: #777;
}

.course-item {
    background: #fff;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .05);
    box-sizing: border-box;
}

.course-img img {
    width: 210px;
    height: 120px;
    float: left;
    margin-left: 32px;
    margin-right: 32px;
}

.course-detail p {
    color: #4D555D;
    font-size: 12px;
    line-height: 24px;
}

.course-color {
    background: #f9fafa;
    border: 1px solid #ded9d9;
    margin: 0px 5px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
}

.course-item .course-classify {
    margin-top: 4px;
    margin-bottom: 4px;
}

.course-item .course-classify span {
    line-height: 30px;
    color: #4D555D;
    font-size: 12px;
    margin-right: 24px;
    padding-left: 2px;
    vertical-align: middle;
}

.php-course-title .types-title .layui-icon {
    font-size: 20px;
    color: #1E9FFF;
}