{extend name="blog@public/basic" /}

{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/login.css"/>
{/block}

{block name="cotent"}

<div class="reg_main">
    <div class="reg_top">会员登录</div>
    <div class="reg_box">
        <form>
            <div class="main_left">
                <div class="item_box">
                    <div class="type">登录账户:</div>
                    <div class="value"><input type="text" name="username" id="username" class="txt"/></div>
                </div>

                <div class="item_box">
                    <div class="type">登录密码:</div>
                    <div class="value"><input type="password" name="password" id="password" class="txt"/></div>
                </div>

                <div class="item_box">
                    <div class="type">验证码:</div>
                    <div class="value"><input type="text" name="vercode" id="vercode" class="code" size="4" value=""/> &nbsp;<a href="javascript:;"> <img src='{:captcha_src()}' onclick="this.src='{:captcha_src()}?seed='+Math.random()"/></a></div>
                </div>
                <div class="item_box">
                    <div class="type"></div>
                    <div class="value"><input type="submit" id="loginBt" class="bt" value="   &nbsp;&nbsp;立即登录 &nbsp; &nbsp; "/></div>
                </div>

                <div class="item_box">
                    <div class="type">快捷登录</div>
                    <div class="value"><a href="#" id="loginQQ"><img src="__STATIC__/image/blog/Connect_logo_7.png"></a></div>
                </div>

            </div>
        </form>
        <div class="main_right">
            <div class="tips">我们诚挚的邀请您加入<br/>久久PHP社区！</div>
            <div class="box">
                还没有账户：<a href="{:url('@blog/login/register')}">马上注册</a><br/><br/>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript" charset="utf-8"
        src="http://connect.qq.com/qc_jssdk.js"
        data-appid="APPID"
        data-redirecturi="REDIRECTURI"
></script>
<script>
    /**
     * 会员登录
     */
    $("#loginBt").click(function () {
        $.post("{:url('@blog/login')}", {
            username: $("#username").val(),
            password: $("#password").val(),
            vercode: $("#vercode").val(),
        }, function (res) {
            console.log(res);
            if (res.code == 0) {
                layer.msg(res.msg, {icon: 1}, function () {
                    window.location.href = "{:url('@blog')}";
                });
            } else {
                layer.msg(res.msg, {icon: 2});
            }
        })
        return false;
    });

    /**
     * QQ快捷登录
     */
    $("#loginQQ").click(function () {
        console.log('QQ快捷登录');
        window.location.href="{:url('@blog/oauth/index')}";
        return false;
    });
</script>
{/block}