<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="renderer" content="webkit"/>
    <title>{$title||default='easyadmin问答社区'}</title>
    <meta name="keywords" content="{$keywords||default='问答社区-keywords'}"/>
    <meta name="description" content="{$description||default='问答社区-description'}"/>
    <!--[if IE]></base><![endif]-->
    <link href="https://www.wecenter.com/static/css/default/img/favicon.ico?v=20200420" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="https://www.wecenter.com/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="https://www.wecenter.com/static/css/icon.css"/>
    <link href="https://www.wecenter.com/static/css/default/common.css?v=20200420" rel="stylesheet" type="text/css"/>
    <link href="https://www.wecenter.com/static/css/default/link.css?v=20200420" rel="stylesheet" type="text/css"/>
    <link href="https://www.wecenter.com/static/js/plug_module/style.css?v=20200420" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://www.wecenter.com/static/js/highlight/styles/tomorrow.css">
    <!--[if lte IE 8]>
    <script type="text/javascript" src="https://www.wecenter.com/static/js/respond.js"></script>
    <![endif]-->
</head>
<body>
{include file="home/public/navbar" /}
{__CONTENT__}
{include file="home/public/footer" /}
</body>
</html>