{extend name="Public:iframe" /}

{block name="cotent"}
<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table" lay-filter="currentTable"></table>
    </div>
</div>
<script type="text/html" id="toolbar">
    <button class="layui-btn layui-btn-sm layui-btn-normal " data-table-refresh=""><i class="layui-icon layui-icon-refresh"></i></button>
    <button class="layui-btn layui-btn-sm" data-open="system.admin/add" data-title="添加"><i class="layui-icon layui-icon-add-circle-fine"></i>添加</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="deleteAll"><i class="layui-icon layui-icon-delete"></i>删除</button>
</script>
{/block}