{extend name="admin@public/basic" /}

{block name="style"}
<style type="text/css">
    form {
        margin: 10px auto;
        width: 500px
    }

    h1, h2, h3 {
        padding: 10px 0
    }

    a {
        color: #1C86EE;
        text-align: right;
        font-size: 18px
    }

    .xtree_contianer {
        overflow: auto;
        margin-bottom: 30px;
        padding: 10px 0 25px 5px;
        width: 500px;
        border: 1px solid #9C9C9C;
        background-color: #fff
    }

    .div-btns {
        margin: 20px 0
    }

    .layui-form-label {
        width: 60px !important
    }
</style>
{/block}

{block name="cotent"}
<form class="layui-form">
    <h1>{$auth.title|default=''}</h1>
    <h3>授权节点：</h3>
    <div id="xtree3" class="xtree_contianer"></div>
    <input type="hidden" id="auth_id" name="auth_id" value="{$auth.id|default=''}">
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" id="submitBtn">提交</button>
            <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
        </div>
    </div>
</form>
{/block}

{block name="script"}
<script type="text/javascript" src="__STATIC__/plugs/layui-xtree2.0/layui-xtree.js"></script>
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var form = layui.form
        layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;

        var xtree3 = new layuiXtree({
            elem: 'xtree3'
            , form: form
            , data: "{:url('admin/api.node/getNodeTree')}?id={$auth.id}"
            , isopen: true  //加载完毕后的展开状态，默认值：true
        });

        $("#submitBtn").click(function () {
            var node_id = [];
            var oCks = xtree3.GetChecked();
            for (var i = 0; i < oCks.length; i++) {
                node_id.push(oCks[i].value);
            }
            $.request.post("{:url('@admin/auth/authorize')}", {
                auth_id: $("#auth_id").val(),
                node_id: node_id,
            }, function (res) {
                $.msg.success(res.msg, function () {
                    $.tool.reload('open');
                });
            });
            return false;
        });
    });
</script>
{/block}
