{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{/block}

{block name="cotent"}
<form class="layui-form">

    <blockquote class="layui-elem-quote quoteBox">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">角色名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input title" placeholder="请输入权限角色名称"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">角色状态</label>
            <div class="layui-input-inline">
                <select name="status" class="status" lay-filter="status">
                    <option value="">请选择角色状态</option>
                    {foreach $status as $vo}
                    <option value="{$vo.id|default=''}">{$vo.title|default=''}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input create_at" id="create_at" placeholder="请选择创建时间">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn search_btn" data-type="reload">搜索</a>
        </div>

        {if auth('admin/auth/add')}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-normal addNews_btn">添加</a>
        </div>
        {/if}

        {if auth('admin/auth/del')}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">删除</a>
        </div>
        {/if}

    </blockquote>

    <table id="authList" lay-filter="authList"></table>

    <script type="text/html" id="checkStatus">
        <input type="checkbox" name="{{d.id}}" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="modifyStatus" {{ d.status== 1 ? 'checked' : '' }}>
    </script>


    <!--操作-->
    <script type="text/html" id="authListBar">

        {if auth('admin/auth/authorize')}
        <a class="layui-btn layui-btn-xs layui-btn-green" lay-event="authorize">授权</a>
        {/if}

        {if auth('admin/auth/edit')}
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        {/if}

        {if auth('admin/auth/del')}
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
        {/if}

    </script>
</form>
{/block}

{block name="script"}
<script>
    layui.use(['laydate', 'form', 'layer', 'table', 'laytpl'], function () {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laytpl = layui.laytpl,
            table = layui.table,
            laydate = layui.laydate;

        //日期范围
        laydate.render({
            elem: '#create_at'
            , range: true
        });

        //用户列表
        var tableIns = table.render({
            elem: '#authList',
            url: "{:url('@admin/auth/index')}?type=ajax",
            cellMinWidth: 95,
            page: true,
            height: "full-125",
            // skin: 'line',
            // size: 'lg',
            // even: true,
            limits: [20, 50, 100, 200, 500],
            limit: 20,
            id: "authListTable",
            cols: [[
                {type: "checkbox", fixed: "left", width: 50,},
                {field: 'sort', title: '排序', width: 100, edit: 'text', align: "center", sort: true},
                {field: 'title', title: '角色名称', minWidth: 200, align: 'center', sort: true},
                {field: 'remark', title: '备注信息', edit: 'text', minWidth: 200, align: "center", style: 'background-color: #009688; color: #fff;', sort: true},
                {field: 'create_at', title: '创建时间', align: 'center', sort: true},
                {field: 'status', title: '启用状态', width: 110, templet: '#checkStatus', unresize: true, align: "center"},

                {if auth('admin/auth/edit') || auth('admin/auth/del') || auth('admin/auth/authorize')}
                {title: '操作', minWidth: 110, templet: '#authListBar', fixed: "right", align: "center"},
                {/if}

            ]]
        });

        //搜索【此功能需要后台配合，所以暂时没有动态效果演示】
        $(".search_btn").on("click", function () {
            console.log($(".create_at").val());
            if ($(".title").val() != '' || $(".create_at").val() != '' || $(".status").val() != '') {
                //执行重载
                table.reload('authListTable', {
                    where: {
                        //传参数
                        select: {
                            title: $(".title").val(),
                            status: $(".status").val(),
                            create_at: $(".create_at").val(),
                        }
                    }
                });
                console.log(data);
                layer.msg('查询成功');
            } else {
                tableIns.reload();
            }
        });

        //添加角色
        function addAuth(edit) {
            var index = layui.layer.open({
                title: "添加角色",
                type: 2,
                area: ['500px', '300px'],
                content: "{:url('@admin/auth/add')}",
                success: function (layero, index) {
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function () {
                        layui.layer.tips('点击此处返回角色列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            })
            // layui.layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize", function () {
                layui.layer.full(index);
            })
        }

        //编辑角色
        function editAuth(edit) {
            var index = layui.layer.open({
                title: "更新角色",
                type: 2,
                area: ['500px', '300px'],
                content: "{:url('@admin/auth/edit')}?id=" + edit.id,
                success: function (layero, index) {
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function () {
                        layui.layer.tips('点击此处返回角色列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            })
            // layui.layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize", function () {
                layui.layer.full(index);
            })
        }

        //角色授权
        function authorizeAuth(edit) {
            var index = layui.layer.open({
                title: "角色授权",
                type: 2,
                // area: ['800px', '500px'],
                content: "{:url('@admin/auth/authorize')}?id=" + edit.id,
                success: function (layero, index) {
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function () {
                        layui.layer.tips('点击此处返回角色列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            })
            layui.layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize", function () {
                layui.layer.full(index);
            })
        }

        $(".addNews_btn").click(function () {
            addAuth();
        })

        //批量删除
        $(".delAll_btn").click(function () {
            var checkStatus = table.checkStatus('authListTable'),
                data = checkStatus.data,
                authId = [];
            if (data.length > 0) {
                for (let i in data) {
                    authId.push(data[i].id);
                }
                layer.confirm('确定删除选中的角色？', {icon: 3, title: '提示信息'}, function (index) {
                    console.log(authId);
                    $.get("{:url('@admin/auth/del')}", {
                        id: authId  //将需要删除的authId作为参数传入
                    }, function (data) {
                        console.log(data);
                        if (data.code == 0) {
                            layer.msg(data.msg, {icon: 1}, function () {
                                tableIns.reload();
                                layer.close(index);
                            });
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    }).error(function () {
                        layer.msg('系统错误，请稍后再试！', {icon: 2});
                    });
                    return false;
                })
            } else {
                layer.msg("请选择需要删除的用户");
            }
        })

        //监听状态操作
        form.on('switch(modifyStatus)', function (obj) {
            console.log(this.name);
            $.get("{:url('@admin/auth/status')}", {
                id: this.name  //将需要删除的newsId作为参数传入
            }, function (data) {
                console.log(data);
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 1});
                } else {
                    layer.msg(data.msg, {icon: 2}, function () {
                        tableIns.reload();
                        layer.close(index);
                    });
                }
            }).error(function () {
                layer.msg('系统错误，请稍后再试', {icon: 2}, function () {
                    tableIns.reload();
                });
            });
            return false;
        });

        //监听单元格字段编辑
        table.on('edit(authList)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            //弹出loading
            var index = top.layer.msg('数据修改中，请稍候', {icon: 16, time: false, shade: 0.8});
            // 实际使用时的提交信息
            $.post("{:url('@admin/auth/index')}", {
                id: data.id,
                field: field,  //登录名
                value: value,  //邮
            }, function (res) {
                console.log(res);
                if (res.code == 0) {
                    layer.msg(res.msg, {icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 2}, function () {
                        parent.location.reload();
                    });
                }
            }).error(function () {
                layer.msg('系统错误，请稍后再试', {icon: 2}, function () {
                    tableIns.reload();
                });
            });
            return false;
        });

        //列表操作
        table.on('tool(authList)', function (obj) {

            var layEvent = obj.event,
                data = obj.data;

            if (layEvent === 'edit') { //编辑
                console.log(data);
                editAuth(data);
            } else if (layEvent === 'authorize') {
                console.log('授权');
                authorizeAuth(data);
            } else if (layEvent === 'usable') { //启用禁用
                var _this = $(this),
                    usableText = "是否确定禁用此用户？",
                    btnText = "已禁用";
                if (_this.text() == "已禁用") {
                    usableText = "是否确定启用此用户？",
                        btnText = "已启用";
                    console.log('3333333333');
                    console.log(data);
                }
                layer.confirm(usableText, {
                    icon: 3,
                    title: '系统提示',
                    cancel: function (index) {
                        console.log('1111111111');
                        layer.close(index);
                    }
                }, function (index) {
                    _this.text(btnText);
                    layer.close(index);
                }, function (index) {
                    layer.close(index);
                });
            } else if (layEvent === 'del') { //删除
                layer.confirm('确定删除此角色？', {icon: 3, title: '提示信息'}, function (index) {
                    $.get("{:url('@admin/auth/del')}", {
                        id: data.id  //将需要删除的newsId作为参数传入
                    }, function (data) {
                        console.log(data);
                        if (data.code == 0) {
                            layer.msg(data.msg, {icon: 1}, function () {
                                tableIns.reload();
                                layer.close(index);
                            });
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    }).error(function () {
                        layer.msg('系统错误，请稍后再试', {icon: 2}, function () {
                            tableIns.reload();
                        });
                    });
                    return false;
                });
            }
        });

    })
</script>
{/block}
