{extend name="blog@public/basic" /}

{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/other-style.css"/>
<style>
    .button-a {
        width: 40px !important;
        height: 27px !important;
        position: absolute !important;
        margin-top: 20px !important;
        line-height: 30px !important;
        padding: 3px 5px !important;
        border-radius: 5px !important;
    }

    .button-a-edit {
        right: 10px !important;
        color: #ffffff !important;
        border: 1px solid #009688 !important;
        background-color: #009688 !important;
    }

    .button-a-delete {
        color: #ffffff !important;
        border: 1px solid #bdbbbb !important;
        background-color: #bdbbbb !important;
    }

    .button-a-delete:hover {
        background-color: #ff0000 !important;
    }

</style>
{/block}

{block name="cotent"}
{include file="blog@public/member/top"/}
<div class="layui-main layui-clear">
    <div class="layui-row php-user-center">
        <div class="layui-col-md2 user-left">
            {include file="blog@public/member/nav"/}
        </div>
        <div class="layui-col-md10 user-right">
            <div class='right-top2'>
                <a class='on' href="{:url('@blog/member/article')}">我的文章</a>
            </div>
            <div class='right-info'>
                {foreach article_list as $vo}
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title ">{$vo.create_at|default=''} <span class='title'></span></h3>
                            <div class='course-info'>
                                <ul>
                                    <li class='course-img'><a href="{:url('@blog/article/details')}?id={$vo.id|default=''}" target="_blank"><img src="{$vo.cover_img|default=''}"></a></li>
                                    <li style="width:62%">
                                        <h2><a data-href="{:url('@blog/article/details')}?id={$vo.id|default=''}">{$vo.title|default=''}</a><span> 【{$vo.category_title|default=''}】</span></h2>
                                        <p><span>{$vo.describe|default=''}</span></p>
                                        <p class='log'><a>点击量 {$vo.clicks|default=''}</a><a>点赞量 {$vo.praise|default=''}</a><a href=''>评论量 {$vo.comment_total|default=''}</a></p>
                                    </li>
                                    <li class='go-on'>
                                        <p>
                                            <a class="button-a button-a-edit" data-title="修改文章" data-open="{:url('@blog/member/article_edit')}?article_id={$vo.id|default=''}" data-height="95%" data-width="900px">修改</a>
                                            <a class="button-a button-a-delete" data-title="确定删除此文章？" data-confirm="{:url('@blog/member/article_del')}?article_id={$vo.id|default=''}">删除</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                {/foreach}

                {if count($article_list) == 0}
                <p class="layui-red">暂无文章信息</p>
                {/if}

            </div>
        </div>
    </div>
    <div class="layui-row page-other">
        {$article_list|raw}
    </div>
</div>

{/block}

{block name="script"}
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form
        layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;
    })
</script>
{/block}