{extend name="blog@public/basic" /}

{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/other-style.css"/>
{/block}

{block name="cotent"}
{include file="blog@public/member/top"/}
<div class="layui-main layui-clear">
    <div class="layui-row php-user-center">
        <div class="layui-col-md2 user-left">
            {include file="blog@public/member/nav"/}
        </div>
        <div class="layui-col-md10 user-right">
            <div class='right-top2'>
                <a class='on' href="{:url('@blog/member/comment')}">我的评论</a>
                <a href="{:url('@blog/member/comment_other')}">我的文章评论</a>
                <!--<a href='/member/74227/asks/follow.html'>我的回复</a>-->
            </div>
            <div class='ask-list'>
                {foreach comment_list as $vo}
                <ul class="member-ask-ul">
                    <li><img src='/upload/system/000/000/000/5a9111e703515423.jpg'></li>
                    <li>
                        <p class='group'><span>来自</span>
                            <a href="/wenda/category/29.html" target="_blank"> PHP</a>
                        </p>
                        <p class='title'><a href='/wenda/142465.html' target="_blank">这是为什么？按照老师代码一个一个敲得</a></p>
                        <p class='group'><span>2018-08-31</span>2个回答</p>
                    </li>
                    <div class="clear"></div>
                </ul>
                {/foreach}
            </div>
            <div class="layui-row page-other">
                {$comment_list|raw}
            </div>
        </div>
    </div>
</div>


{/block}

{block name="script"}

{/block}