{extend name="blog@public/basic" /}

{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/other-style.css"/>
{/block}

{block name="cotent"}
{include file="blog@public/member/top"/}
<div class="layui-main layui-clear">
    <div class="layui-row php-user-center">
        <div class="layui-col-md2 user-left">
            {include file="blog@public/member/nav"/}
        </div>
        <div class="layui-col-md10 user-right">
            <div class='right-top2'>
                <a class="on" href="{:url('@blog/member/follow')}">我关注的</a>
                <a  href="{:url('@blog/member/fans')}">关注我的</a>
            </div>
            <div class='user-list'>
                <div class='list'>
                    <ul>
                        <li><a href='/member/2.html' target="_blank"><img src='http://img.php.cn/upload/avatar/000/000/002/590fcf28a8654463.png'></a></li>
                        <li>
                            <p class='title'>小皮</p>
                            <p>	全栈工程师</p>
                            <p>	关注11 粉丝68</p>
                            <!--<p>	<a href='' class='layui-btn layui-btn-primary'>已关注</a><a href='' class='layui-btn layui-btn-primary'> 私信</a></p>-->
                        </li>
                    </ul>
                </div>
                <div class='list'>
                    <ul>
                        <li><a href='/member/261799.html' target="_blank"><img src='http://www.php.cn/static/images/user_avatar.jpg'></a></li>
                        <li>
                            <p class='title'>蒙娜丽莎～江涛</p>
                            <p>	学生</p>
                            <p>	关注0 粉丝1</p>
                            <!--<p>	<a href='' class='layui-btn layui-btn-primary'>已关注</a><a href='' class='layui-btn layui-btn-primary'> 私信</a></p>-->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-row diy-page"></div>
        </div>
    </div>
</div>


{/block}

{block name="script"}

{/block}