{extend name="blog@public/basic" /}

{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/member.css"/>
{/block}

{block name="cotent"}
{include file="blog@public/nav"/}
<!-- 内容  开始-->
<div class="wrap">
    <div class="vip_cont c100 clearfix">
        <!--左边列表导航  开始-->
        <div class="fl vip_left vip_magLeft">
            <dl>
                <dt>信息管理</dt>
                <dd>
                    <p><a href="#" target="_blank">文章管理</a></p>
                    <p class="active"><a href="#" target="_blank">评论管理</a></p>
                </dd>
            </dl>
            <dl>
                <dt>我的账号</dt>
                <dd>
                    <p><a href="#" target="_blank">基本资料</a></p>
                    <p><a href="#" target="_blank">修改密码</a></p>
                </dd>
            </dl>
        </div>
        <!--左边列表导航  结束-->

        <!--右边列表内容  开始-->
        <div class="fr vip_right vip_magRight">
            <!--用户信息  开始 -->
            <div class="cus01">
                <div class="cusImg">
                    <img src="{$Think.session.member.head_img}" title="更换头像" style="width:127px;height:127px;" />
                </div>
                <div class="cusName">
                    <p title="用户昵称">用户昵称：{if !empty($Think.session.member.nickname)}{$Think.session.member.nickname}{else/}暂未设置昵称{/if}</p>
                    <span title="邮箱">邮箱：{$Think.session.member.email}</span>
                    <span class="bdTell">手机：<i></i><em>{$Think.session.member.phone}</em></span>
                </div>
            </div>
            <ul class="cus02">
                <li>
                    <p><span>原创文章</span><a href="#" target="_blank">管理文章</a></p>
                    <span class="numbers"><font>5</font>篇</span>
                </li>
                <li>
                    <p><span>文章评论</span><a href="#" target="_blank">管理评论</a></p>
                    <span class="numbers"><font>6</font>条</span>
                </li>
                <li>
                    <p><span>个人资料</span><a href="#" target="_blank">去完善</a></p>
                    <script>
                        $(function(){
                            $('#myStat').circliful();
                        });
                    </script>
                    <span class="numbers mystat">
								<div id="myStat" data-dimension="60" data-text="85%" data-info="New Clients" data-width="10" data-fontsize="12" data-percent="85" data-fgcolor="#ff6561" data-bgcolor="#eee" data-fill="#FFF" class="circliful" style="width: 60px;"></div>
							</span>
                </li>
            </ul>
            <!--&lt;!&ndash; 用户信息  结束 &ndash;&gt;-->
            <!--<div class="cus03">-->
                <!--<div class="mess">-->
                    <!--<a href="#" target="_blank"><i></i>成为VIP会员或者加入鹰监测服务，可以优先排序，增加公司曝光等。>>点击了解详情</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <!--右边列表内容  结束-->
    </div>
</div>

<!-- 内容  结束-->

{/block}

{block name="script"}

{/block}