{extend name="blog@public/basic" /}

{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/other-style.css"/>
{/block}

{block name="cotent"}
{include file="blog@public/member/top"/}
<div class="layui-main layui-clear">
    <div class="layui-row php-user-center">
        <div class="layui-col-md2 user-left">
            {include file="blog@public/member/nav"/}
        </div>
        <div class="layui-col-md10 user-right">
            <div class='right-top'>
                <span>最新动态</span>
                <!--<span style='float:right'>设置</span>-->
            </div>
            <div class='right-info'>

                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h4 class="layui-timeline-title ">8个月前 <span class='title'>学习了课程</span></h4>
                            <div class='course-info'>
                                <ul>
                                    <li class='course-img'><a href='/course/665.html' target="_blank" title="独孤九贱(8)_php从零开始开发属于自己的php框架"><img src="http://img.php.cn/upload/course/000/000/003/5a509de50e732291.jpg"></a></li>
                                    <li>
                                        <h2><a href='/course/665.html' target="_blank" title="独孤九贱(8)_php从零开始开发属于自己的php框架">独孤九贱(8)_php从零开始开发属于自己的php...</a><!--<span> 更新中</span>--></h2>
                                        <p><!--<span class='studyed'>浏览量：42166</span>-->中级&nbsp;&nbsp;&nbsp;&nbsp;浏览量：42166&nbsp;&nbsp;&nbsp;&nbsp;更新中</p>
                                        <p class='log'><a href='/course/665.html' target="_blank" title="独孤九贱(8)_php从零开始开发属于自己的php框架">本课以一个极简的PHP开发框架为案例,向您展示了一个PHP框...</a></p>
                                    </li>
                                    <li class='go-on'>

                                        <p><a href='/course/665.html' target="_blank" title="独孤九贱(8)_php从零开始开发属于自己的php框架">查看课程</a></p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>
                </ul>

                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h4 class="layui-timeline-title ">8个月前 <span class='title'>学习了课程</span></h4>
                            <div class='course-info'>
                                <ul>
                                    <li class='course-img'><a href='/course/123.html' target="_blank" title="php注册登录系统开发实战"><img src="http://img.php.cn/upload/course/000/000/003/5a0ea1067b8b2253.jpg"></a></li>
                                    <li>
                                        <h2><a href='/course/123.html' target="_blank" title="php注册登录系统开发实战">php注册登录系统开发实战</a><!--<span> 更新中</span>--></h2>
                                        <p><!--<span class='studyed'>浏览量：11729</span>-->高级&nbsp;&nbsp;&nbsp;&nbsp;浏览量：11729&nbsp;&nbsp;&nbsp;&nbsp;更新中</p>
                                        <p class='log'><a href='/course/123.html' target="_blank" title="php注册登录系统开发实战">《php注册登录系统开发实战》主要介绍网站的登录注册功能，有...</a></p>
                                    </li>
                                    <li class='go-on'>

                                        <p><a href='/course/123.html' target="_blank" title="php注册登录系统开发实战">查看课程</a></p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>
                </ul>

                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h4 class="layui-timeline-title ">8个月前 <span class='title'>学习了课程</span></h4>
                            <div class='course-info'>
                                <ul>
                                    <li class='course-img'><a href='/course/332.html' target="_blank" title="Thinkphp3.2.3个人博客开发"><img src="http://img.php.cn/upload/course/000/000/003/5a38c838366fe405.jpg"></a></li>
                                    <li>
                                        <h2><a href='/course/332.html' target="_blank" title="Thinkphp3.2.3个人博客开发">Thinkphp3.2.3个人博客开发</a><!--<span> 更新中</span>--></h2>
                                        <p><!--<span class='studyed'>浏览量：56433</span>-->高级&nbsp;&nbsp;&nbsp;&nbsp;浏览量：56433&nbsp;&nbsp;&nbsp;&nbsp;更新中</p>
                                        <p class='log'><a href='/course/332.html' target="_blank" title="Thinkphp3.2.3个人博客开发">ThinkPHP是一个快速、开源的轻量级国产PHP开发框架，...</a></p>
                                    </li>
                                    <li class='go-on'>

                                        <p><a href='/course/332.html' target="_blank" title="Thinkphp3.2.3个人博客开发">查看课程</a></p>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>
                </ul>
                <style>
                    .layui-text a:not(.layui-btn):hover {
                        text-decoration: none;
                    }

                    .layui-text a:not(.layui-btn) {
                        color: #333;
                    }
                </style>
            </div>

        </div>
    </div>
</div>

{/block}

{block name="script"}

{/block}