{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class="layui-elem-quote quoteBox">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">文章标题</label>
            <div class="layui-input-inline">
                <input type="text" id="title" class="layui-input selectBlock" placeholder="请输入文章标题"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">会员账号</label>
            <div class="layui-input-inline">
                <input type="text" id="username" class="layui-input selectBlock" placeholder="请输入会员账号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">用户昵称</label>
            <div class="layui-input-inline">
                <input type="text" id="nickname" class="layui-input selectBlock" placeholder="请输入用户昵称"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" id="create_at" class="layui-input " placeholder="请选择创建时间">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn" data-search="currentTableId">搜索</a>
        </div>

        {if auth("$thisClass/add")}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-normal" data-open='{:url("$thisClass/add")}' data-title="添加文章">添加</a>
        </div>
        {/if}

        {if auth("$thisClass/del")}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-danger layui-btn-normal" data-title="确定批量删除？" data-del-all='{:url("$thisClass/del")}' data-table-id="currentTableId">删除</a>
        </div>
        {/if}

    </blockquote>
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->

    <!--表单模板绑定--开始-->
    <script type="text/html" id="bindMemberInfo">
        <div>
            <span>{{d.nickname}}</span> <a class="layui-btn layui-btn-xs color-99admin-desc" data-open='{:url("@admin/blog.member/detail")}?id={{d.member_id}}' data-title="查看会员信息" data-width="1000px" data-height="450px">{{d.username}}</a>
        </div>
    </script>

    <script type="text/html" id="bindHeadImg">
        <img style="width: 40px; height: 40px;" src="{{d.head_img}}" layer-src="{{d.nickname}}" alt="{{d.title}}" data-image="open" lay-filter="modifyHeadImg">
    </script>

    <script type="text/html" id="bindCoverImg">
        <img style="width: 60px; height: 40px;" src="{{d.cover_img}}" layer-src="{{d.cover_img}}" alt="{{d.title}}" data-image="open" lay-filter="modifyHeadImg">
    </script>

    <script type="text/html" id="checkStatus">
        <input type="checkbox" name="{{d.id}}" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="modifyStatus" {{ d.status== 0 ? 'checked' : '' }}>
    </script>
    <!--表单模板绑定--结束-->

    <!--表单操作栏--开始-->
    <script type="text/html" id="currentTableBar">

        {if auth("$thisClass/details")}
        <a class="layui-btn layui-btn-primary layui-btn-xs" href='/blog/article/details/id/{{d.id}}.html' target="_blank">查看</a>
        {/if}

        {if auth("$thisClass/edit")}
        <a class="layui-btn layui-btn-xs" data-open='{:url("$thisClass/edit")}?id={{d.id}}' data-title="修改文章信息">编辑</a>
        {/if}

        {if auth("$thisClass/del")}
        <a class="layui-btn layui-btn-xs layui-btn-danger" data-title="确定批量删除？" data-del='{:url("$thisClass/del")}?id={{d.id}}'>删除</a>
        {/if}

    </script>
    <!--表单操作栏--结束-->

</form>
{/block}

{block name="script"}
<script>

    /**
     * 生成表单
     */
    var tableIns = $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {type: "checkbox", width: 50, fixed: "left"},
        {field: 'memberInfo', title: '用户信息', minWidth: 80, templet: '#bindMemberInfo', align: "center"},
        {field: 'category_title', title: '文章分类', minWidth: 80, align: "center"},
        {field: 'title', title: '文章标题', minWidth: 200, align: 'center'},
        {field: 'cover_img', title: '文章封面', width: 100, templet: '#bindCoverImg', align: "center"},
        {field: 'describe', title: '文章描述', minWidth: 100, align: "center"},
        {field: 'clicks', title: '点击量', width: 100, align: "center", sort: true},
        {field: 'commont_total', title: '评论量', width: 100, align: "center", sort: true},
        {field: 'status', title: '启用状态', width: 110, templet: '#checkStatus', unresize: true, align: "center"},
        {field: 'create_at', title: '发布时间', align: 'center', minWidth: 150},
        /**{if auth('admin_blog/article/edit') || auth('admin_blog/article/del') || auth("$thisClass/details")}**/
        {title: '操作', minWidth: 100, templet: '#currentTableBar', fixed: "right", align: "center"}
        /**{/if}**/
    ]], true, 'line', 'lg', true);

    /**
     * 日期范围
     */
    $.laydate.range('create_at');


    /**
     * 修改状态
     */
    $.form.switch('modifyStatus', '{:url("$thisClass/status")}');

</script>
{/block}
