{extend name="blog@public/basic" /}

{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/other-style.css"/>
{/block}

{block name="cotent"}
<div class="layui-main">
    <div class="layui-row php-user-info">
        {include file="blog@public/member/setting_nav"/}
        <div class="layui-col-md10 php-user-right">
            <div class="contentBox">
                <table class="oplog-list">
                    <tbody>
                    <tr>
                        <th>类型</th>
                        <th>登录时间</th>
                        <th>登录地址</th>
                        <th>IP</th>
                        <th>备注</th>
                    </tr>
                    </tbody>
                    {foreach login_record as $vo}
                    <tr>
                        <td>{if $vo.type == 0}账号退出{else/}账号登录{/if}</td>
                        <td>{$vo.create_at|default=''}</td>
                        <td>{$vo.location|default=''}</td>
                        <td>{$vo.ip|default=''}</td>
                        <td>{$vo.remark|default=''}</td>
                    </tr>
                    {/foreach}
                </table>
            </div>
            <div class="layui-row page-other">
                {$login_record|raw}
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}

{/block}