{extend name="blog@public/basic" /}

{block name="style"}
<style>
    .layui-icon.layui-icon-praise:hover {
        /*color: #d33a39;*/
    }
</style>
{/block}

{block name="cotent"}
<section class="container pt-20">
    <!--<div class="Huialert Huialert-info"><i class="Hui-iconfont">&#xe6a6;</i>成功状态提示</div>-->
    <!--left-->
    <div class="col-sm-9 col-md-9">
        <!--滚动图-->
        <div class="slider_main">
            <div class="slider">
                <div class="bd">
                    <ul>
                        {foreach slider_list as $vo}
                        <li><a href="{$vo.href}" target="{$vo.target}"><img src="{$vo.image}"></a></li>
                        {/foreach}
                    </ul>
                </div>
                <ol class="hd cl dots">
                    {volist name="slider_list" id="vo" }
                    <li>{$i}</li>
                    {/volist}
                </ol>
                <a class="slider-arrow prev" href="javascript:void(0)"></a>
                <a class="slider-arrow next" href="javascript:void(0)"></a>
            </div>
        </div>

        <div class="mt-20 bg-fff box-shadow radius mb-5">
            <div class="tab-category">
                <a href=""><strong class="current">最新发布</strong></a>
            </div>
        </div>
        <div class="art_content">
            <ul class="index_arc">

                {foreach newest_article_list as $vo}
                <li class="index_arc_item">
                    <a href="{:url('@blog/article/details')}?id={$vo.id|default=''}" class="pic" target="_blank">
                        <img class="lazyload" data-original="{$vo.cover_img|default=''}" alt="{$vo.title|default=''}">
                    </a>
                    <h4 class="title">
                        <a href="{:url('@blog/article/details')}?id={$vo.id|default=''}" target="_blank">{$vo.title|default=''}</a>
                    </h4>
                    <div class="date_hits">
                        <span>{$vo.memberInfo.nickname|default=''}</span>
                        <span>{$vo.create_at|default=''}</span>
                        <span><a href="{:url('@blog/article')}?category_id={$vo.category_id|default=''}" target="_blank">{$vo.categoryInfo.title|default=''}</a></span>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> {$vo.clicks|default=''} °</p>
                        <p class="commonts"><i class="Hui-iconfont" title="评论"></i> <span class="cy_cmt_count">{$vo.comment_total|default=''}</span></p>
                        <p class="praise"><i class="layui-icon layui-icon-praise" title="点赞"></i> {$vo.praise|default='0'} </p>
                    </div>
                    <div class="desc">{$vo.describe|default=''}</div>
                </li>
                {/foreach}

            </ul>
            <div class="text-c mb-20" id="moreBlog">
                <a class="btn  radius btn-block " href="{:url('@blog/article')}" target="_blank">点击加载更多</a>
                <!--<a class="btn  radius btn-block hidden" href="javascript:;">加载中……</a>-->
            </div>
        </div>
    </div>

    <!--right-->
    <div class="col-sm-3 col-md-3">

        <!--站点声明-->
        <div class="panel panel-default mb-20">
            <div class="panel-body">
                <i class="Hui-iconfont" style="float: left;">&#xe62f;&nbsp;</i>
                <div class="slideTxtBox">
                    <div class="bd">
                        <ul>
                            {foreach notice_list as $vo}
                            <li><a href="{$vo.href|default=''}" target="_blank">{$vo.title|default=''}</a></li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--博主信息-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>站长信息</strong></a>
            </div>
            <div class="tab-category-item">
                <ul class="index_recd">
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe653;</i>姓名：{$blog_user_info.nickname|default=''}</li>
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe70d;</i>职业：{$blog_user_info.job|default=''}</li>
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe63b;</i>邮箱：{$blog_user_info.email|default=''}</a></li>
                    <li class="index_recd_item"><i class="Hui-iconfont">&#xe671;</i>工作：{$blog_user_info.location|default=''}</li>
                </ul>
            </div>
        </div>


        <!--热门推荐-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>推荐阅读</strong></a>
            </div>
            <div class="tab-category-item">
                <ul class="index_recd">

                    {foreach recommend_list as $vo}
                    <li>
                        <a href="{:url('@blog/article/details')}?id={$vo.id|default=''}" target="_blank">{$vo.title|default=''}</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> {$vo.clicks|default=''}° </p>
                    </li>
                    {/foreach}

                </ul>
            </div>
        </div>

        <!--点击排行-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>点击排行</strong></a>
            </div>
            <div class="tab-category-item">
                <ul class="index_recd clickTop">

                    {foreach click_ranking_list as $vo}
                    <li>
                        <a href="{:url('@blog/article/details')}?id={$vo.id|default=''}" target="_blank">{$vo.title|default=''}</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> {$vo.clicks|default=''}° </p>
                    </li>
                    {/foreach}

                </ul>
            </div>
        </div>

        <!--标签-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>标签云</strong></a>
            </div>
            <div class="tab-category-item">
                <div class="tags">
                    {foreach tag_list as $vo}
                    <a href="#">{$vo.tag_title|default=''}</a>
                    {/foreach}

                </div>
            </div>
        </div>
        <!--图片-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>扫我关注</strong></a>
            </div>
            <div class="tab-category-item">
                <img src="{$BlogInfo.ScanFollow|default='__STATIC__/temp/blog/gg.jpg'|raw}" class="img-responsive lazyload" alt="响应式图片">
            </div>
        </div>

        <!--最近访客-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>最近访客</strong></a>
            </div>
            <div class="panel-body">
                <ul class="recent">
                    <div class="item"><img src="__STATIC__/image/blog/40.jpg" alt=""></div>
                    <div class="item"><img src="__STATIC__/image/blog/40.jpg" alt=""></div>
                    <div class="item"><img src="__STATIC__/image/blog/40.jpg" alt=""></div>
                    <div class="item"><img src="__STATIC__/image/blog/40.jpg" alt=""></div>
                    <div class="item"><img src="__STATIC__/image/blog/40.jpg" alt=""></div>
                    <div class="item"><img src="__STATIC__/image/blog/40.jpg" alt=""></div>
                    <div class="item"><img src="__STATIC__/image/blog/40.jpg" alt=""></div>
                    <div class="item"><img src="__STATIC__/image/blog/40.jpg" alt=""></div>
                    <div class="item"><img src="__STATIC__/image/blog/40.jpg" alt=""></div>
                    <div class="item"><img src="__STATIC__/image/blog/40.jpg" alt=""></div>
                </ul>
            </div>
        </div>

        <!--友情链接-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>友情链接</strong></a>
            </div>
            <div class="tab-category-item">
                {foreach website_list as $vo}
                <span><i class="Hui-iconfont">&#xe6f1;</i><a href="{$vo.href|default='#'}" class="btn-link" target="_blank"> {$vo.website_name|default='='}</a></span>
                {/foreach}
            </div>
        </div>

        <!--分享-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>站点分享</strong></a>
            </div>
            <div class="panel-body">
                <div class="bdsharebuttonbox Hui-share"><a href="#" class="bds_weixin Hui-iconfont" data-cmd="weixin" title="分享到微信">&#xe694;</a><a href="#" class="bds_qzone Hui-iconfont" data-cmd="qzone" title="分享到QQ空间">&#xe6c8;</a> <a href="#" class="bds_sqq Hui-iconfont" data-cmd="sqq" title="分享到QQ好友">&#xe67b;</a> <a href="#" class="bds_tsina Hui-iconfont" data-cmd="tsina" title="分享到新浪微博">&#xe6da;</a> <a href="#" class="bds_tqq Hui-iconfont" data-cmd="tqq" title="分享到腾讯微博">&#xe6d9;</a></div>
            </div>
        </div>

    </div>
</section>
{/block}

{block name="script"}
<script>
    $(function () {
//幻灯片
        jQuery(".slider_main .slider").slide({mainCell: ".bd ul", titCell: ".hd li", trigger: "mouseover", effect: "leftLoop", autoPlay: true, delayTime: 700, interTime: 2000, pnLoop: true, titOnClassName: "active"})
//tips
        jQuery(".slideTxtBox").slide({titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "top", autoPlay: true});
//标签
        $(".tags a").each(function () {
            var x = 9;
            var y = 0;
            var rand = parseInt(Math.random() * (x - y + 1) + y);
            $(this).addClass("tags" + rand)
        });

        $("img.lazyload").lazyload({failurelimit: 3});
    });

</script>
{/block}