{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{/block}

{block name="cotent"}
<form class="layui-form">

    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">

            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" class="layui-input title" placeholder="请输入菜单名称"/>
                </div>
                <div class="layui-input-inline">
                    <select name="status" class="status" lay-filter="status">
                        <option value="">请选择菜单状态</option>
                        {foreach $status as $vo}
                        <option value="{$vo.id|default=''}">{$vo.title|default=''}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input href" placeholder="请输入菜单链接"/>
                </div>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input create_at" id="create_at" placeholder="请选择创建时间">
                </div>
                <a class="layui-btn search_btn" data-type="reload">搜索</a>
            </div>

            {if auth('admin/menu/add')}
            <div class="layui-inline">
                <a class="layui-btn layui-btn-normal addNews_btn">添加菜单</a>
            </div>
            {/if}

            {if auth('admin/menu/del')}
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
            </div>
            {/if}

        </form>
    </blockquote>

    <table id="userList" lay-filter="userList"></table>

    <script type="text/html" id="checkStatus">
        <input type="checkbox" name="{{d.id}}" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="modifyStatus" {{ d.status== 1 ? 'checked' : '' }}>
    </script>


    <!--操作-->
    <script type="text/html" id="userListBar">

        {if auth('admin/menu/edit')}
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        {/if}

        {if auth('admin/menu/del')}
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
        {/if}

    </script>
</form>
{/block}

{block name="script"}
<script>
    layui.use(['laydate', 'form', 'layer', 'table', 'laytpl'], function () {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laytpl = layui.laytpl,
            table = layui.table,
            laydate = layui.laydate;

        //日期范围
        laydate.render({
            elem: '#create_at'
            , range: true
        });

        //用户列表
        var tableIns = table.render({
            elem: '#userList',
            url: "{:url('@admin/menu/index')}?type=ajax",
            cellMinWidth: 95,
            // page: true,
            height: "full-125",
            // skin: 'line',
            // size: 'lg',
            // even: true,
            limits: [500],
            limit: 500,
            id: "menuListTable",
            cols: [[
                {type: "checkbox", fixed: "left", width: 50,},
                // {field: 'id', title: 'ID', minWidth: 100, align: "center"},
                {field: 'sort', title: '排序', width: 100, edit: 'text', align: "center"},
                {
                    field: 'icon', title: '图标', width: 100, align: 'center', templet: function (d) {
                        if (d.icon.indexOf("icon") != -1) {
                            return '<span class="seraph  ' + d.icon + '" data-icon="' + d.icon + '"></span>';
                        } else {
                            return '<span class="layui-icon">' + d.icon + '</span>';
                        }
                    }
                },
                {field: 'title', title: '菜单名称', minWidth: 200, align: 'left'},
                {
                    field: 'href', title: '链接地址', minWidth: 300, align: 'center', templet: function (d) {
                        return '<a class="layui-blue" href="' + d.href + '" target="_blank">' + d.href + '</a>';
                    }
                },
                {field: 'create_at', title: '创建时间', align: 'center', sort: true},
                {field: 'status', title: '启用状态', width: 110, templet: '#checkStatus', unresize: true, align: "center"},

                {if auth('admin/auth/edit') || auth('admin/auth/del')}
                {title: '操作', minWidth: 110, templet: '#userListBar', fixed: "right", align: "center"},
                {/if}

            ]]
        });

        //搜索【此功能需要后台配合，所以暂时没有动态效果演示】
        $(".search_btn").on("click", function () {
            console.log($(".create_at").val());
            if ($(".title").val() != '' || $(".create_at").val() != '' || $(".href").val() != '' || $(".status").val() != '') {
                //执行重载
                table.reload('menuListTable', {
                    where: {
                        //传参数
                        select: {
                            title: $(".title").val(),
                            status: $(".status").val(),
                            href: $(".href").val(),
                            create_at: $(".create_at").val(),
                        }
                    }
                });
                console.log(data);
                layer.msg('查询成功');
            } else {
                tableIns.reload();
            }
        });

        //添加菜单
        function addMenu(edit) {
            var index = layui.layer.open({
                title: "添加菜单",
                type: 2,
                // area: ['800px', '500px'],
                content: "{:url('@admin/menu/add')}",
                success: function (layero, index) {
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function () {
                        layui.layer.tips('点击此处返回菜单列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            })
            layui.layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize", function () {
                layui.layer.full(index);
            })
        }

        //编辑菜单
        function editMenu(edit) {
            var index = layui.layer.open({
                title: "修改菜单",
                type: 2,
                // area: ['800px', '500px'],
                content: "{:url('@admin/menu/edit')}?id=" + edit.id,
                success: function (layero, index) {
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function () {
                        layui.layer.tips('点击此处返回菜单列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            })
            layui.layer.full(index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize", function () {
                layui.layer.full(index);
            })
        }

        $(".addNews_btn").click(function () {
            addMenu();
        })

        //批量删除
        $(".delAll_btn").click(function () {
            var checkStatus = table.checkStatus('menuListTable'),
                data = checkStatus.data,
                menuId = [];
            if (data.length > 0) {
                for (let i in data) {
                    menuId.push(data[i].id);
                }
                layer.confirm('确定删除选中的菜单？', {icon: 3, title: '提示信息'}, function (index) {
                    console.log(menuId);
                    $.get("{:url('@admin/menu/del')}", {
                        id: menuId  //将需要删除的menuId作为参数传入
                    }, function (data) {
                        console.log(data);
                        if (data.code == 0) {
                            layer.msg('删除成功！');
                            tableIns.reload();
                            layer.close(index);
                        } else {
                            layer.msg(data.msg);
                        }
                    })
                })
            } else {
                layer.msg("请选择需要删除的用户");
            }
        })

        //监听性别操作
        form.on('switch(modifyStatus)', function (obj) {
            console.log(this.name);
            $.get("{:url('@admin/menu/status')}", {
                id: this.name  //将需要删除的newsId作为参数传入
            }, function (data) {
                console.log(data);
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 1});
                } else {
                    layer.msg(data.msg, {icon: 2}, function () {
                        tableIns.reload();
                        layer.close(index);
                    });
                }
            })
            return false;
        });

        //监听单元格字段编辑
        table.on('edit(userList)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            //弹出loading
            var index = top.layer.msg('数据修改中，请稍候', {icon: 16, time: false, shade: 0.8});
            // 实际使用时的提交信息
            $.post("{:url('@admin/menu/index')}", {
                id: data.id,
                field: field,  //修改字段
                value: value,  //修改值
            }, function (res) {
                console.log(res);
                if (res.code == 0) {
                    if (field == 'sort') {
                        layer.msg(res.msg, {icon: 1}, function () {
                            tableIns.reload();
                        });
                    } else {
                        layer.msg(res.msg, {icon: 1});
                    }
                } else {
                    layer.msg(res.msg, {icon: 2}, function () {
                        parent.location.reload();
                    });
                }
            }).error(function () {
                layer.msg('系统错误，请稍后再试', {icon: 2}, function () {
                    tableIns.reload();
                });
            });
            return false;
        });

        //列表操作
        table.on('tool(userList)', function (obj) {
            var layEvent = obj.event,
                data = obj.data;

            if (layEvent === 'edit') { //编辑
                console.log(data);
                editMenu(data);
            } else if (layEvent === 'usable') { //启用禁用
                var _this = $(this),
                    usableText = "是否确定禁用此用户？",
                    btnText = "已禁用";
                if (_this.text() == "已禁用") {
                    usableText = "是否确定启用此用户？",
                        btnText = "已启用";
                    console.log('3333333333');
                    console.log(data);
                }
                layer.confirm(usableText, {
                    icon: 3,
                    title: '系统提示',
                    cancel: function (index) {
                        console.log('1111111111');
                        layer.close(index);
                    }
                }, function (index) {
                    _this.text(btnText);
                    layer.close(index);
                }, function (index) {
                    layer.close(index);
                });
            } else if (layEvent === 'del') { //删除
                layer.confirm('确定删除此菜单？', {icon: 3, title: '提示信息'}, function (index) {
                    $.get("{:url('@admin/menu/del')}", {
                        id: data.id  //将需要删除的newsId作为参数传入
                    }, function (data) {
                        console.log(data);
                        if (data.code == 0) {
                            layer.msg(data.msg, {icon: 1}, function () {
                                tableIns.reload();
                                layer.close(index);
                            });
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    })
                });
            }
        });

    })
</script>
{/block}
