<!DOCTYPE HTML>
<html>
<head>
    <title>{$title|default='99PHP社区 - 国内专业IT技术社区'}{if isset($author)} - {$author} {/if} {if isset($title)} - 99PHP社区{/if}</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="{$keywords|default='99PHP社区'}">
    <meta name="description" content="{$description|default='99PHP博客网站'}。">
    <LINK rel="Bookmark" href="favicon.ico">
    <LINK rel="Shortcut Icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugs/blog/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugs/blog/Hui-iconfont/1.0.8/iconfont.min.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/common.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/page.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugs/blog/pifu/pifu.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/header.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugs/wangEditor-3.1.1/release/wangEditor.min.css"/>
    <link rel="stylesheet" href="__STATIC__/plugs/layui/css/layui.css" media="all"/>
    <!--<link rel="stylesheet" type="text/css" href="__STATIC__/css/blog/search.css"/>-->
    {block name="style"}{/block}

    <!--百度ip统计-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f37400f14441ebc0c3645d104244b130";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--百度ip统计-->

    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }

    function showSide() {
        $('.navbar-nav').toggle();
    }</script>
</head>
<body>


{include file="blog@public/header" /}

{block name="cotent"}{/block}

{include file="blog@public/footer" /}

<script type="text/javascript" src="__STATIC__/plugs/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__STATIC__/plugs/blog/layer/3.0/layer.js"></script>
<script type="text/javascript" src="__STATIC__/plugs/layui/layui.all.js"></script>
<script type="text/javascript" src="__STATIC__/plugs/blog/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/plugs/blog/pifu/pifu.js"></script>
<script type="text/javascript" src="__STATIC__/js/blog/common.js"></script>
<script type="text/javascript" src="__STATIC__/plugs/wangEditor-3.1.1/release/wangEditor.min.js"></script>
<script type="text/javascript" src="__STATIC__/blog.js"></script>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form
        layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery;

        $(function () {
            $(window).on("scroll", backToTopFun);
            backToTopFun();
        });

        /**
         * 文章发表
         */
        $("#homeAdd").click(function () {
            if ("{$Think.session.member.id}" == '') {
                layer.msg('请先登录系统再进行操作', {icon: 2}, function () {
                    window.location.href = "{:url('@blog/login')}";
                });
            } else {
                window.location.href = "{:url('@blog/article/add')}";
            }
        });

        /**
         * 关键词搜索
         */
        $("#selectKwd").click(function () {
            layer.msg('功能暂未实现！', {icon: 2});
        });

    });
</script>
<script type="text/javascript" src="__STATIC__/plugs/blog/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>

{block name="script"}{/block}

</body>
</html>
