{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{/block}

{block name="cotent"}
<form class="layui-form">

    <table id="configTable" lay-filter="configTable"></table>

</form>
{/block}

{block name="script"}
<script>

    /**
     * 生成表单
     */
    var tableIns = $.form.table('config', "{:url('@admin/config/index')}?type=ajax", [[
        {field: 'sort', title: '排序', width: 100, edit: 'text', align: "center", sort: true},
        {field: 'remark', title: '参数说明', align: 'center'},
        {field: 'value', title: '参数值', edit: 'text', minWidth: 200, align: "center", style: 'background-color: #009688; color: #fff; border-radius: 15px;'},
        {field: 'name', title: '参数名', align: 'center', sort: true},
        {field: 'group', title: '组名', width: 200, align: 'center', sort: true},
    ]], false, 'line', 'lg', false);

    /**
     * 监听字段值编辑
     */
    $.form.editField('configTable', "{:url('@admin/config/index')}");
</script>
{/block}
