{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class="layui-elem-quote quoteBox">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">登录账户</label>
            <div class="layui-input-inline">
                <input type="text" id="username" class="layui-input selectBlock" placeholder="请输入登录账户"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">用户昵称</label>
            <div class="layui-input-inline">
                <input type="text" id="nickname" class="layui-input selectBlock" placeholder="请输入用户昵称"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">手机号码</label>
            <div class="layui-input-inline">
                <input type="text" id="phone" class="layui-input" placeholder="请输入手机号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">邮箱账号</label>
            <div class="layui-input-inline">
                <input type="text" id="email" class="layui-input" placeholder="请输入邮箱账号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" id="create_at" class="layui-input " placeholder="请选择创建时间">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn" data-search="currentTableId">搜索</a>
        </div>

        {if auth("$thisClass/add")}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-normal" data-open='{:url("$thisClass/add")}' data-title="添加会员" data-width="600px" data-height="600px">添加</a>
        </div>
        {/if}

        {if auth("$thisClass/del")}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-danger layui-btn-normal" data-title="确定批量删除？" data-del-all='{:url("$thisClass/del")}' data-table-id="currentTableId">删除</a>
        </div>
        {/if}

    </blockquote>
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->

    <!--表单模板绑定--开始-->
    <script type="text/html" id="bindHeadImg">
        <img style="width: 30px; height: 30px;" src="{{d.head_img}}" layer-src="{{d.head_img}}" alt="{{d.nickname}}" data-image="open" lay-filter="modifyHeadImg">
    </script>

    <script type="text/html" id="checkStatus">
        <input type="checkbox" name="{{d.id}}" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="modifyStatus" {{ d.status== 0 ? 'checked' : '' }}>
    </script>
    <!--表单模板绑定--结束-->

    <!--表单操作栏--开始-->
    <script type="text/html" id="TableBar">

        {if auth("$thisClass/detail")}
        <a class="layui-btn layui-btn-primary layui-btn-xs" data-open='{:url("$thisClass/detail")}?id={{d.id}}' data-title="查看会员信息" data-width="1000px" data-height="450px">查看</a>
        {/if}

        {if auth("$thisClass/reset_password")}
        <a class="layui-btn layui-btn-xs layui-btn-green" data-open='{:url("$thisClass/reset_password")}?id={{d.id}}' data-title="重置密码" data-width="500px" data-height="300px">重置密码</a>
        {/if}

        {if auth("$thisClass/edit")}
        <a class="layui-btn layui-btn-xs" data-open='{:url("$thisClass/edit")}?id={{d.id}}' data-title="修改会员信息" data-width="600px" data-height="600px">编辑</a>
        {/if}

        {if auth("$thisClass/del")}
        <a class="layui-btn layui-btn-xs layui-btn-danger" data-title="确定批量删除？" data-del='{:url("$thisClass/del")}?id={{d.id}}'>删除</a>
        {/if}

    </script>
    <!--表单操作栏--结束-->

</form>
{/block}

{block name="script"}
<script>

    /**
     * 生成表单
     */
    $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {type: "checkbox", width: 50, fixed: "left"},
        {field: 'username', title: '登录账户', minWidth: 80, align: "center"},
        {field: 'nickname', title: '用户昵称', minWidth: 80, align: "center"},
        {field: 'head_img', title: '用户头像', width: 100, templet: '#bindHeadImg', align: "center"},
        {field: 'phone', title: '用户手机', width: 120, align: 'center'},
        {
            field: 'email', title: '用户邮箱', width: 150, align: 'center', templet: function (d) {
                return '<a class="layui-blue" href="#">' + d.email + '</a>';
            }
        },
        {field: 'status', title: '启用状态', width: 110, templet: '#checkStatus', unresize: true, align: "center"},
        {field: 'create_at', title: '创建时间', align: 'center', minWidth: 150},
        /**{if auth("$thisClass/edit") || auth("$thisClass/del") || auth("$thisClass/reset_password")}**/
        {title: '操作', minWidth: 250, templet: '#TableBar', fixed: "right", align: "center"}
        /**{/if}**/
    ]]);

    /**
     * 日期范围
     */
    $.laydate.range('create_at');


    /**
     * 修改状态
     */
    $.form.switch('modifyStatus', '{:url("$thisClass/status")}');
</script>
{/block}
