<div class="aw-top-menu-wrap">
    <div class="container">
        <div class="aw-logo hidden-xs">
            <a href="https://www.wecenter.com"></a>
        </div>

        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="https://www.wecenter.com/search/" id="global_search_form" method="post">
                <label class="oldPwdTip aw-search-query-label" onclick="$(this).hide();$('#aw-search-query').focus();">搜索问题、话题或人...</label> <input class="form-control search-query" type="text" value="" autocomplete="off" name="q" id="aw-search-query" onfocus="hideOldPwdTip('aw-search-query');" onblur="toggleOldPwdTip('aw-search-query',this.value);"/>
                <span title="搜索" id="global_search_btns" onClick="$('#global_search_form').submit();"><i class="icon icon-search"></i></span>
                <div class="aw-dropdown">
                    <div class="mod-body">
                        <p class="title">输入关键字进行搜索</p>
                        <ul class="aw-dropdown-list collapse"></ul>
                        <p class="search"><span>搜索:</span><a onClick="$('#global_search_form').submit();"></a></p>
                    </div>
                    <div class="mod-footer">
                        <a href="https://www.wecenter.com/publish" onClick="$('#header_publish').click();" class="pull-right btn btn-mini btn-success publish">发起问题</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="https://www.wecenter.com/explore/" class="active"><i class="icon icon-list"></i> 发现</a></li>
                    <li><a href="https://www.wecenter.com/topic/"><i class="icon icon-topic"></i> 话题</a></li>
                </ul>
            </nav>
        </div>
        <div class="aw-user-nav">
            <a class="login btn btn-normal btn-primary" href="https://www.wecenter.com/login/">登录</a>
            <a class="register btn btn-normal btn-success" href="https://www.wecenter.com/account/register/">注册</a>
        </div>

    </div>
</div>