{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{/block}

{block name="cotent"}
<form class="layui-form">
    <blockquote id="searchBlock" class="layui-elem-quote quoteBox">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">搜索关键词</label>
            <div class="layui-input-inline">
                <input type="text" id="word" class="layui-input selectBlock" placeholder="请输入搜索关键词"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" id="create_at" class="layui-input " placeholder="请选择创建时间">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn" data-search="currentTableId">搜索</a>
        </div>

        {if auth("$thisClass/del")}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-danger layui-btn-normal" data-title="确定批量删除？" data-del-all='{:url("$thisClass/del")}' data-table-id="tagTableId">删除</a>
        </div>
        {/if}

    </blockquote>
    <table id="currentTable" lay-filter="currentTable"></table>

    <!--操作-->
    <script type="text/html" id="currentTableBar">

        {if auth("$thisClass/del")}
        <a class="layui-btn layui-btn-xs layui-btn-danger" data-title="确定批量删除？" data-del='{:url("$thisClass/del")}?id={{d.id}}'>删除</a>
        {/if}

    </script>
</form>
{/block}

{block name="script"}
<script>
    layui.use(['laydate', 'form', 'layer', 'table', 'laytpl'], function () {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laytpl = layui.laytpl,
            table = layui.table,
            laydate = layui.laydate;

        /**
         * 生成表单
         */
        var tableIns = $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
            {type: "checkbox", width: 50, fixed: "left"},
            {field: 'word', title: '搜索关键词', minWidth: 100, align: 'center'},
            {field: 'total', title: '搜索总次数', minWidth: 100, align: "center"},
            {field: 'create_at', title: '创建时间', align: 'center', minWidth: 150},
            {field: 'update_at', title: '更新时间', align: 'center', minWidth: 150},
            /**{if auth("$thisClass/del")}**/
            {title: '操作', minWidth: 100, templet: '#currentTableBar', fixed: "right", align: "center"}
            /**{/if}**/
        ]]);

        /**
         * 日期范围
         */
        $.laydate.range('create_at');
    })
</script>
{/block}
